@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EBECEC;
}

.container {
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.mountain1 {
    position: absolute;
    bottom: -100px;
    width: 1500px;
    right: 0;
    z-index: 19;
}

.person {
    position: absolute;
    width: 650px;
    bottom: -100px;
    left: -70px;
    z-index: 20;
}

.mountain2 {
    position: absolute;
    width: 1100px;
    bottom: -100px;
    left: 0;
    z-index: 18;
}

.mountain3 {
    position: absolute;
    width: 900px;
    bottom: 150px;
    right: 0;
    z-index: 17;
}

.sky {
    position: absolute;
    width: 2100px;
    /* bottom: 250px; */
    right: 0;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.text-deco-none {
    text-decoration: none;
}

.logo span {
    font-weight: 300;
}

.hamburger-menu {
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar {
    position: relative;
    width: 1.2rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before, .bar:after {
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before {
    transform: translateY(-8px);
}

.bar:after {
    transform: translateY(8px);
}

.big-title {
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 150px;
    font-weight: 600;
    color: #000000;
    font-family: 'The Nautigal', cursive;
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 5px;
}

.big-title:hover {
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 5px;
    cursor: pointer;
}

.big-sub-title {
    position: absolute;
    z-index: 30;
    line-height: 2rem;
    top: calc(57% - 10px);
    width: 100%;
    margin-left: 61%;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-style: italic;
}

.big-sub-title:hover {
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

.big-gretting {
    position: absolute;
    z-index: 30;
    line-height: 2rem;
    top: calc(40% - 10px);
    width: 100%;
    margin-left: 32%;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-style: italic;
}

.big-gretting:hover {
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}

.profile-pic {
    border: #000 solid 2px;
    border-radius: 50%;
}

section {
    width: 100%;
    background-color: #EBECEC;
    position: relative;
}

section .container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img {
    width: 100%;
}

section .container>* {
    margin: 2rem;
}

.content {
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer {
    transform: translateY(50px);
}

.title {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.beg-title {
    font-weight: 600;
    font-size: 20px;
    position: relative;
}

.beg-subtitle {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 1rem;
    position: relative;
}

.beg-description {
    font-size: 17px;
    margin-bottom: 1rem;
    position: relative;
}

.beg-title {
    font-weight: 600;
    font-size: 20px;
    position: relative;
}

.company-subtitle {
    font-weight: 300;
    font-size: 18px;
    position: relative;
}

.company-description {
    font-size: 17px;
    margin-bottom: 1rem;
    position: relative;
}

.border-100 {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.border-75 {
    position: absolute;
    width: 75%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.border-50 {
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.border-25 {
    position: absolute;
    width: 25%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow {
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #EBECEC, transparent);
}

.opacity {
    opacity: 0;
}

.about-img {
    width: 90%;
    transition: transform .2s;
}

.about-img:hover {
    transform: scale(1.02);
}

.font-nautigal {
    font-family: 'The Nautigal', cursive;
}

.bar-70 {
    color: #000;
    background-color: #fff;
    width: 70%;
    height: 20px;
}

.bar-75 {
    color: #000;
    background-color: #fff;
    width: 75%;
    height: 20px;
}

.bar-80 {
    color: #000;
    background-color: #fff;
    width: 80%;
    height: 20px;
}

.bar-85 {
    color: #000;
    background-color: #fff;
    width: 85%;
    height: 20px;
}

.bar-90 {
    color: #000;
    background-color: #fff;
    width: 90%;
    height: 20px;
}

.bar-95 {
    color: #000;
    background-color: #fff;
    width: 95%;
    height: 20px;
}

.bar-100 {
    color: #000;
    background-color: #fff;
    width: 100%;
    height: 20px;
}

.icon-circle {
    border-radius: 50%;
    padding: 10px;
}

.contact-detail {
    font-size: 18px;
}

.decoration-none {
    text-decoration: none;
}

.project {
    background-color: #fff;
    width: fit-content;
    transition: transform .2s;
}

.project:hover {
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 2px;
    cursor: pointer;
    transform: scale(1.03);
}

.project-title {
    position: absolute;
    bottom: 90px;
    background-color: #585858ab;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.project-title:hover {
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

.project-subtitle {
    position: absolute;
    bottom: 10px;
    width: 90%;
    background-color: #585858ab;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.project-subtitle:hover {
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

.service {
    background-color: #fff;
    width: fit-content;
    transition: transform .2s;
}

.service:hover {
    background-color: #fff;
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 2px;
    cursor: pointer;
    transform: scale(1.03);
}

.btn-contact {
    background-color: #fff;
}

.btn-contact:hover {
    background-color: #fff;
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 2px;
    border-radius: 5px;
}

.btn-download-cs {
    background-color: #000;
}

.btn-download-cs:hover {
    background-color: #000;
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 2px;
}

.btn-designer {
    background-color: #fff;
}

.btn-designer:hover {
    background-color: rgba(255, 255, 255, 0.192);
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 2px;
}

.navbar-hover {
    cursor: pointer;
}

.navbar-hover:hover {
    text-decoration: underline;
    text-decoration-color: #C15097;
    text-decoration-thickness: 2px;
}

.footer-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 5px;
}

footer div ul li i {
    background-color: #fff;
    margin: 0px 5px;
    border-radius: 50%;
    padding: 8px;
    color: #000;
}

footer div ul li i:hover {
    background-color: #C15097;
    color: #fff;
}

.social-icons:hover {
    color: #C15097;
}

.bg-none {
    background-color: transparent;
}

@media (max-width: 850px) {
    header {
        height: 0;
    }

    section .container {
        grid-template-columns: 1fr;
    }

    .big-title {
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        top: calc(40% - 2rem);
        font-size: 2.5rem;
    }

    .big-sub-title {
        margin-left: 0px;
        text-align: center;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
        top: calc(45% - 10px);
        font-size: 20px;
    }

    .big-gretting {
        margin: 0 auto;
        text-align: center;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
        top: calc(35% - 10px);
        font-size: 20px;
        /* letter-spacing: 23px; */
    }

    .about-img {
        width: 100%;
    }

    .text {
        font-size: .8rem;
    }

    .title {
        font-size: 30px;
        letter-spacing: 2px;
    }
}

@media(max-width: 600px) {
    header {
        height: 0;
    }

    .big-title {
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        top: calc(40% - 2rem);
        font-size: 2.5rem;
    }

    .big-sub-title {
        margin-left: 0px;
        text-align: center;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
        top: calc(45% - 10px);
        font-size: 20px;

    }

    .big-gretting {
        margin: 0 auto;
        text-align: center;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
        top: calc(35% - 10px);
        font-size: 20px;
        /* letter-spacing: 23px; */
    }

    .about-img {
        width: 100%;
    }

    .text {
        font-size: .8rem;
    }

    .title {
        font-size: 30px;
        letter-spacing: 2px;
    }
}